*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: #ffffff;
}

.original-img {
  display: grid;
  justify-content: center;
  align-content: center;
  float: left;
  min-width: 80vh;
  min-height: 100vh;
}

.calculator-grid {
  display: grid;
  align-content: center;
  min-width: 100vh;
  min-height: 100vh;
  grid-template-columns: repeat(4, 130px);
  grid-template-rows: minmax(120px, auto) repeat(5, 130px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid #202020;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  outline: none;
}

.calculator-grid > button:hover {
  background-color: #202020;
}

.buttons {
  color: #ffff;
  background-color: #3b3b3b;
}

.equals {
  background-color: #76b9ec;
  grid-column: span 2;
}

.equals > button:hover {
  background-color: #598bb1;
}

.all-clear {
  color: #ffff;
  background-color: #3b3b3b;
  grid-column: span 2;
}

.all-clear > button:hover {
  background-color: #76b9ec;
}

.output {
  grid-column: 1 / -1;
  background-color: #202020;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-wrap: break-all;
}

.output .previous-operand {
  color: #ffff;
  font-size: 1.5rem;
}

.output .current-operand {
  color: #ffff;
  font-size: 2.5rem;
}
