*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: #ffffff;
}

.calculator {
  display: grid;
  align-content: center;
  min-width: 100%;
  min-height: 100%;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid #202020;
  outline: none;
}

.calculator > button:hover {
  background-color: #3b3b3b;
}

.buttons {
  color: #ffff;
  background-color: #323232;
}

.equals {
  background-color: #76b9ec;
  grid-column: span 2;
  display: grid;
  align-content: center;
  max-width: 240px;
  min-height: 100px;
  grid-template-columns: repeat(1, 240px);
  position: absolute;
  left: 240px;
  top: 520px;
}

.equals:hover {
  background-color: #3b3b3b;
}

.all-clear {
  color: #ffff;
  background-color: #323232;
  grid-column: span 2;
}

.all-clear > button:hover {
  background-color: #3b3b3b;
}

.output {
  grid-column: 1 / -1;
  background-color: #202020;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-wrap: break-all;
}

.output .previous-operand {
  color: #ffff;
  font-size: 1.5rem;
}

.output .current-operand {
  color: #ffff;
  font-size: 2.5rem;
}
